* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFont;
    src: url(fonts/Montserrat-Bold.ttf);
}
body::-webkit-scrollbar {
    width: 10px;
} 
body::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
}
body::-ms-scrollbar-track {
    background-color: rgb(136, 136, 136);
}
body::-ms-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
}
.suv-wrapper::-webkit-scrollbar {
    height: 10px;
} 
.suv-wrapper::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
.suv-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
}
.suv-wrapper::-ms-scrollbar-track {
    background-color: rgb(136, 136, 136);
}
.suv-wrapper::-ms-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
}
.scroll-container2::-webkit-scrollbar {
    height: 10px;
} 
.scroll-container2::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
.scroll-container2::-webkit-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
}
.scroll-container2::-ms-scrollbar-track {
    background-color: rgb(136, 136, 136);
}
.scroll-container2::-ms-scrollbar-thumb {
    background-color: rgb(63, 63, 63);
    border-radius: 15px;
}
.logout-btn{
    width: 30px;
}
.logout{
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 15px;
    display: none;
}
.logout:hover{
    background-color: rgb(161, 161, 161);
    transition: 0.3s ease;
}
.logout p{
    margin: 0px 5px;

}
header{
    box-shadow: 0 0 5px white(0, 0, 0, 0.3);
    border-bottom: 1px solid black;
    position: relative;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
}
.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
#vehicles:hover{
    transform: scale(1.2);
    transition:0.3s ease; ;
}
#vehicles:not(:hover){
    transform: scale(1);
    transition:0.3s ease ;
}
#signUp-modal:hover{
    transform: scale(1.2);
    transition:0.3s ease; ;
}
#signUp-modal:not(:hover){
    transform: scale(1);
    transition:0.3s ease ;
}
#welcome-message{
    font-family: myFont;
    font-size: 15px;
    margin: 0px 5px;
}
#welcome-message:hover{
    transform: scale(1.2);
    transition:0.3s ease; ;
}
#welcome-message:not(:hover){
    transform: scale(1);
    transition:0.3s ease ;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation li {
    list-style: none;
}
.navigation li button{
    border: none;
    background-color: white;
    color: black;
    margin-right: 15px;
    font-family: myFont;
    font-size: 14px;
}
.burger-icon{
    width: 40px;
    display: none;
}
.navigation-wrapper{
    display: grid;
    place-items: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: #eee;
    display: none;
    transition: display 0.5s ease;
}
.list{
    height: 60px;
    display: grid;
    place-items: center;
}
.list a , .list button{
    border: none;
    background-color: #eee;
    color: black;
    text-decoration: none;
    font-family: myFont;
}
.burger-btn{
    border-bottom: 2px solid rgb(111, 111, 111);
    width: 100%;
}
.slider-wrapper {
    position: absolute;
    z-index: 4;
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 0;
    display: none;
    transition: height 0.3s ease;
    width: 100%;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next,
.swiper-button-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: black !important;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.swiper-button-next2,
.swiper-button-prev2{
    color:white !important;
}
.swiper-button-prev{
    left: 10px;
}
.swiper-button-next {
    right: 15px;
}
.sign-in-box {
    position: absolute;
    z-index: 3;
    display: none;
    width: 100%;
}
.sign-up-btn{
    width: 220px;
    margin-bottom: 5px;
    padding: 15px 0;
    border-radius: 10px;
}
.sign-up-btn:hover{
    color: white;
    background-color: black;
    transition: 0.3s ease;
}
.sign-up-btn:not(:hover){
    color: black;
    background-color: white;
    transition: 0.3s ease;
}
.background{
    background-color: white;
    width: 100%;
}
.smaller-container{
    max-width: 1050px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0;
}
.sign-in-wrapper{
    flex: 1;
}
.sign-in-wrapper img{
    margin: 0 40px;
}
.sign-in-wrapper h4{
    font-family: myFont;
    margin-bottom: 14px;
}
.sign-in{
    padding-bottom:4px ;
    border-bottom: 3px solid black;
}
.car-wrapper{
    max-width: 1150px ;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px auto;
}
.car-wrapper img{
    width: 250px;
    padding-top: 20px;
}
.info-wrapper:hover{
    background-color: rgb(174, 170, 170);
    transition: 0.3s linear;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.info-wrapper h2{
    font-size: 20px;
    margin: 5px 0;
}
.info-wrapper span{
    font-size: 12px;
}
.slider-wrapper {
    transition: height 0.3s ease;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.fade-in.show {
    opacity: 1;
}
.my-container{
    background-image: url(images/2024-gx.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    display: grid;
    height: 640px;
}
.my-container h1{
    color: white;
    border-bottom: 3px solid white;
    font-size: 50px;
}
.my-container p{
    color: white;
    margin: 10px 0px 300px 0px;
    font-size: 25px;
}
.my-container2{
    background-image: url(images/2024-tx.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.learn-more-btn{
    background-color: white;
    padding: 10px 45px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10px;
}
.learn-more-btn:hover{
    background-color: transparent;
    transition: 0.3s ease;
}
.learn-more-btn:not(:hover){
    background-color: white;
    transition: 0.3s ease;
}
.btn{
    color: black;
    text-decoration: none;
    font-family: myFont;
}
.learn-more-btn:hover .btn{
    color: white;
    transition: 0.3s ease;
}
.learn-more-btn:not(:hover) .btn{
    color: black;
    transition: 0.3s ease;
}
.learn-more-btn2{
    border: 2px solid black;
}
.learn-more-btn2:hover{
    background-color: black;
    transition: 0.3s ease;
}
.learn-more-btn2:not(:hover){
    background-color: white;
    transition: 0.3s ease;
}
.slide{
    overflow-y: scroll;
}
.tools{
    display: grid;
    place-items: center;
    height: 100px;
    flex: 0 0 auto;
    padding: 0 40px;
    border-radius: 20px;
}
.tools a{
    color: black;
    text-decoration: none;
    font-family: myfont;
    margin-top: 15px;
}
.tools:hover {
    background-color: rgb(162, 158, 158);
    transition: 0.3s ease;
}
.tools:hover img {
    opacity: 0.6;
}
.tools a:hover{
    color: black;
}
.shopping-tools{
    margin: 50px 0;
    border-bottom: 1px solid rgb(178, 175, 175);
    max-width: 1100px;
    margin: 50px auto;
    padding-bottom: 40px;
}
.tools-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.vehicles-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.vehicles-and-current-offers , .vehicles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vehicles-and-current-offers{
    max-width: 100%;
}
.vehicles-and-current-offers h3{
    margin: 50px 0;
}
.img-wrapper{
    width: 320px;
    height: 170px;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
}
.img-wrapper img:hover{
    transform: scale(1.1);
    transition:0.3s ease ;
}
.img-wrapper img:not(:hover){
    transform: scale(1);
    transition:0.3s ease ;
}
.vehicles h4{
    margin-top: 40px;
    font-family: myFont;
}
.vehicles{
    flex: 1;
    height: 350px;
    margin-top: 30px;
}
.vehicles span{
    text-align: center;
    margin: 10px 0;
}
.relative-for-h3{
    position: relative;
    height: 160px;
}
.relative-for-h3 h3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.suv-wrapper{
    display: flex;
    overflow-x: auto;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
}
.lexus-car{
    display: grid;
    place-items: center;
    margin:0px 40px 0px 10px;
    height: 150px;
}
.lexus-car img{
    width: 150px;
    margin-bottom: 20px;
}
.car-model{
    border: none;
    font-family: myFont;
    background-color: white;
}
.car-model:hover{
    transform: scale(1.1);
    transition:0.3s ease ;
}
.car-model:not(:hover){
    transform: scale(1);
    transition:0.3s ease ;
}
.explore-lexus-wrapper , .nature-img{
    width: 100%;
}
.nature-img{
    height: 400px;
}
.explore-lexus-wrapper{
    position: relative;
}
.nii , .your-lexus-picture-wrapper{
    flex: 1;
}
.your-lexus-picture{
    width: 100%;
}
.btn-flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
}
.your-lexus{
    display: flex;
    justify-content: space-between;
}
.your-lexus-wrapper{
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.your-lexus-wrapper h2{
    margin: -10px 0px 50px 0px;
    font-size: 50px;
    text-decoration: underline;
    color: white;
}
.your-lexus-wrapper p{
    font-size: 20px;
    color: white;
}
.limited-edition-cars-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.limited-edition-cars{
    width: 430px;
    padding: 20px;
    position: relative;
    margin: 45px 0;
}
.limited-edition-cars img{
    width: 100%;
}
.limited-info{
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100px;
}
.limited-info p{
    color: white;
    font-family: myFont;
    width: 80%;
    text-align: center;
}
.limited-edition-car-img img{
    border-radius: 20px;
}
.limited-edition-car-img img:hover{
    transform: scale(1.05);
    transition:0.3s ease ;
}
.limited-edition-car-img img:not(:hover){
    transform: scale(1);
    transition:0.3s ease ;
}
.future-cars{
    display: grid;
    place-items: center;
    margin-top: 120px;
}
.best-selling-car{
    display: flex;
    align-items: flex-start;
    height: 450px;
    border: 1px solid rgb(18, 24, 54);
    border-radius: 15px;
    width: 400px;
    margin: 10px 0;
    background-color: rgb(103, 103, 103);
}
.best-selling-car-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    height: 100%;
    border: 1px dashed black;
    border-radius: 15px 0px 0px 15px;
    padding: 0 20px;
}
.best-selling-car-info h5 , .best-selling-car-info p{
    color: white;
}
.best-selling-car-value{
    border-radius: 0px 15px 15px 0px;
}
.scroll-container2 {
    width: 100%;
    overflow-x: scroll;
}
.best-selling-cars-wrapper{
    width: 2200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.model-name{
    text-align: center;
    margin: 25px 0;
}
footer{
    background-color: rgb(36, 33, 33);
}
.footer-info-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px 0;
}
.footer-info-wrapper h5{
    color: white;
    margin: 30px 0;
}
.footer-info-wrapper a{
    color: rgb(169, 164, 164);
}
.footer-info-wrapper a:hover{
    color: white;
    text-decoration: none;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social-icons img {
    width: 20px;

    cursor: pointer;
}
.social-icons img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
.social-icons img:not(:hover) {
    transform: scale(1);
    transition: 0.3s ease;
}
.social-icons {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.input-field{
    position: relative;
}
.input-field input{
    width: 100%;
    padding-left: 10px;
    height: 35px;
    margin: 20px 0;
    color: black;
    border: none;
    border-bottom: 2px solid rgb(54, 54, 54);
    outline: none;
    background: transparent;
}
.login-form{
    max-width: 300px;
    margin: 0 auto;
}
.input-field img{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
}
.login-btn{
    width: 100%;
    height: 42px;
    border-radius: 6px;
    font-family: myFont;
    background-color: black;
    margin: 15px 0;
}
.fixed-background{
    position: fixed;
    background-color:rgb(54, 52, 52 , 0.5) ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    place-items: center;
}
.log-in-modal{
    width: 345px;
    border-radius: 15px;
    background: white;
    padding: 20px 0;
}
.log-in-modal h3{
    text-align: center;
    font-family: myFont;
    color: black;
    font-size: 28px;
}
.close-modal-img{
    width: 100px;
    background: transparent;
}
.close-icon{
    background-color:transparent;
    border: none;
    color: rgb(175, 175, 175);
    position: fixed;
    width: 25px;
    margin: 0px 0px 20px 280px;
}
.close-icon img{
    width: 100%;
}
.close-icon:hover{
    color: black;
    transition: 0.3s linear;
}
.close-icon:not(:hover){
    color:rgb(131, 126, 126);
    transition: 0.3s linear;
}
.login-btn:hover{
    background-color: transparent;
    transition: 0.5s ease-in-out;
    color: black;
}
.login-btn:not(:hover){
    color: white;
    transition: 0.5s ease-in-out;
}
.input-full-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-full-name input{
    height: 35px;
    margin: 20px 0;
    color:black;
    border: none;
    border-bottom: 2px solid rgb(54, 54, 54);
    outline: none;
    background: transparent;
    width: 140px;
    padding: 20px 10px;
}
#checkbox1, #checkbox2{
    display: inline-block;
}
@media (max-width: 750px) {
    .your-lexus{
        flex-direction: column;
        justify-content: center;
    }
    .your-lexus-picture-wrapper{
        margin-top: 0px;
    }
    .nature-img{
        height: 450px;
    }
    .limited-edition-cars{
        width: auto;
    }
    .vehicles{
        width: 290px;
    }
    .limited-info{
        top: 75%;
    }
    h3{
        text-align: center;
    }
    .regular-li{
        display: none;
    }
    .burger-icon{
        display: block;
    }
    .my-container h1{
        font-size: 40px;
    }
    .future-cars{
        margin-top: 190px;
    }
    .lexus-logo{
        width: 120px;
    }
    #welcome-message{
        display: none;
    }
}
@media (max-width : 450px) {
    .btn-flex-box{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .learn-more-btn{
        width: 100%;
        padding: 12px 0;
        display: grid;
        place-items: center;
    }
    .sign-up-btn{
        width: 100%;
    }
    .sign-in-wrapper img{
        width: 250px;
    }
    .footer-info-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .footer-content{
        width: 300px;
    }
    .lexus-logo{
        display: none;
    }
    nav{
        width: 100%;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}
@media (max-width : 360px) {
    .log-in-modal{
        width: 100%;
    }
}